body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#calculator {
  border: solid 2px;
  border-color: black;
  padding:0 15px;
  width:210px;
}

button {
}
#equal {
  height:200%;
}


.btn{
  border-color: black;
  
}
#btnCont{
  border-radius: 0;
}

