@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgrey;

}




.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
#calculator {
  border: solid 2px;
  border-color: black;
  padding:0 15px;
  width:330px;
  
}

button {
}
#equal {
  height:200%;
}


.btn{
  border-color: black;
  height: 80px;
  
}
#btnCont{
  border-radius: 0;
}
#display, #answer{
  text-align: right;
  font-family: 'Digital';
  background-color: black;
  font-size: 30px;
}

